@font-face {
    font-family: Protest;
    src: url(../FONT/protest/Protest\ Demo.otf);
}

@font-face {
    font-family: Amoria;
    src: url(../FONT/amoria/AMORIA.otf);
}

body {
    background-image: url(../IMG/Space.webp);
    background-size: cover;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

img {
    width: 100%;
}

#RotatingEarth {
    position: absolute;
    top: 5%;
    right: 10%;

    height: 90%;
    width: auto;
    z-index: -1;
    transition: all 2s;
}

#RotatingMoon {
    position: absolute;
    top: 5%;
    left: 3%;

    height: 10%;
    width: auto;
    z-index: -1;
    transition: all 2s;
}

.ReturnButton {
    position: absolute;
    width: 10%;
    z-index: 2;
}

/************************************
*************************************
*************SCROLLBAR***************
*************************************
************************************/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #0e1c38, #142953);
    border-radius: 6px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #0e1c38, #1a366d);
}

/*********************************************************
**********************************************************
*************************HOMEPAGE*************************
**********************************************************
*********************************************************/

#Homepage {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible;
}

#HomepageInputGrid {
    color: white;
    font-family: Protest;
}

#HomepageInputGridHeader {
    font-size: 5vw;
    text-align: center;
    width: 50%;
    margin-top: 5vw;
    background-color: #0a142899;
}

.HomepageInputGridText {
    font-size: 3vw;
    text-align: center;
    width: 30%;
    background-color: #0a142899;
    transition: text-shadow 0.4s;
}

.HomepageInputGridText:hover {
    cursor: pointer;
    text-shadow: 0px 0px 15px white;
}

/*********************************************************
**********************************************************
*************************OPTIONS**************************
**********************************************************
*********************************************************/

#Options {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#OptionsInputGrid {
    color: white;
    font-family: Protest;
}

#OptionsInputGridHeader {
    font-size: 4vw;
    text-align: center;
    width: 30%;
    margin-top: 5vw;
    background-color: #0a142899;
}

.OptionsInputGridText {
    font-size: 3vw;
    text-align: center;
    width: 20%;
    background-color: #0a142899;
    transition: text-shadow 0.4s;
}

.OptionsInputGridText:hover {
    cursor: pointer;
    text-shadow: 0px 0px 15px white;
}

#OptionsSetArea {
    position: absolute;
    right: 5vw;
    top: 5vw;
    bottom: 5vw;

    width: 60%;
    height: auto;
    background-color: #0a142899;
    overflow-y: scroll;
}

#OptionsVideoArea {
    position: absolute;
    width: 100%;
    height: 100%;
}

#OptionsAudioArea {
    position: absolute;
    width: 100%;
    height: 100%;
}

#OptionsKontoArea {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*********************************************************
**********************************************************
**************************RULES***************************
**********************************************************
*********************************************************/

#Rules {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#RulesBoxArea {
    height: 100%;
    width: 100%;
    position: absolute;
}

.Box {
  position: absolute;
  top: 5vw;
  bottom: 5vw;
  left: 5vw;
  right: 5vw;

  height: auto;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a142899; 
  color: white;
  transition: transform 0.6s ease;
}

/*********************************************************
**********************************************************
************************GAMEMODE**************************
**********************************************************
*********************************************************/

#GameMode {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#GameModeGrid {
    position: absolute;
    top: 2vw;
    bottom: 2vw;
    left: 2vw;
    right: 2vw;

    width: auto;
    height: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7vw;
}

.GameModeMaps {
    transform: rotateY(0deg);
    transition: transform 1s;
    background-color: #0a142899;
}

.GameModeMaps:hover {
    cursor: pointer;
}

.GameModeMaps img {
    position: relative;
    top: 10%;
    left: 20%;

    width: 60%;
    height: auto;
}

#GameModeOptions {
    transform: rotateY(-180deg);

    position: absolute; 
    top: 15%; 
    left: 0%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3vw;
    width: 100%;

    color: white; 
}

#GameModeOptions p {
    font-family: Amoria;
    text-align: center; 
    background-color: #0a142899; 
    margin: 0; 
    font-size: 2vw; 
}